{
  "env": {
    "browser": true
  },
  "extends": [
    "plugin:react/recommended",
    "eslint:recommended",
    "airbnb/base",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "no-underscore-dangle": "off",
    "no-unused-vars": [
      "error", { "varsIgnorePattern": "^_.*" }
    ],
    "camelcase": [
      "error", { "allow": ["^_.*"] }
    ],
    "prettier/prettier": [
      "error"
    ],
    "lines-between-class-members": [
      "error",
      "always",
      {
        "exceptAfterSingleLine": true
      }
    ],
    "func-names": [
      "error",
      "as-needed"
    ]
  }
}
