body {
  display: flex;
  justify-content: center;
  background: #c5c5c5;
  margin: 0;
}

#root {
  max-width: 760px;
  padding: 20px 50px;
  background: #fffaed;
}

.controls {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  border-bottom: 2px solid black;
  padding-bottom: 15px;
}

.controls input {
  flex: 1 1 auto;
}

.controls * {
  margin: 5px;
}

.sheet {
  white-space: pre-wrap;
  font-family: monospace;
}

.artist {
  font-size: 16px;
  font-weight: bold;
}

.song {
  font-size: 14px;
}

.chords {
  margin-top: 15px;
  font-size: 12px;
}
